WinTestWcf/Service References/WcfStrvTest/MyWcfServiceTest2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWcfService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWcfService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodClienteN" type="xs:int" />
      <xs:element minOccurs="0" name="NomCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesDTO" nillable="true" type="tns:ClientesDTO" />
  <xs:complexType name="ArrayOfClientesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesDTO" nillable="true" type="tns:ClientesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesDTO" nillable="true" type="tns:ArrayOfClientesDTO" />
</xs:schema>